body {
  font-family: Arial, sans-serif;
}

.content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: blue;
}

.form {
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Remove default arrow */
  background: #fff;
  background-image: url(data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16"><path d="M10.4 5.4L6 10.8 1.6 5.4 0 7l6 6 6-6z" fill="#000"></path></svg>);
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

.button {
  display: block;
  width: auto;
  padding: 10px 20px;
  background-color: #1f00d0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:active{
    background-color: #c215e4;
}


